<%- include ("partials/header") %>



<h1> Cafes Page </h1>

<% cafes.forEach(function(cafe){ %>
	<div>
		<h4> <%= cafe.name %> </h4> 
		<img src="<%= cafe.image %>" />
	</div>
<% }); %>


<%- include ("partials/footer") %>